{% extends "base.html" %}

{% block title %}下單{% endblock %}

{% block content %}
    <h1>下單</h1>
    <h2>訂單詳情</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>商品</th>
                <th>價格</th>
                <th>數量</th>
            </tr>
        </thead>
        <tbody>
            {% for order_item in order_items %}
                <tr>
                    <td>{{ order_item.product.name }}</td>
                    <td>{{ order_item.product.price }}</td>
                    <td>{{ order_item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>總金額: {{ order_total }}</h2>
    <form method="post" action="{% url 'order_success' %}">
        {% csrf_token %}
        <input type="submit" value="確認下單">
    </form>

{% endblock %}
