{% extends "base.html" %}
{% block title %}顯示商品資料{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">{{ product.name }}</h1>
        <div class="lead">{{ product.description }}</div>
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
        <form action="{% url 'add_to_cart' product.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="放入購物車">
        </form>
    </div>
</div>
<a href="/products/">返回</a>
{% endblock %}